body {
	margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	line-height: 1.1;
}

.full-screen {
	width: 100%;
	height: 100%;
  position: relative;
}

.full-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, .2);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.time,
.greetings {
  margin: 0;
  font-size: 5rem;
  letter-spacing: .025rem;
}

.ampm {
  font-size: 3rem;
  font-weight: normal;
}

.greetings {
  font-size: 3.5rem;
}
